# Python / Jupyter
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.env

# Large raw & local DB binaries
data/raw/
data/processed/*.duckdb
data/processed/*.db
test.db
